*{
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

h2{
    margin-top: 10%;
}

p{
    padding: 2%;
    background-color: rgb(0, 145, 145);;
    min-width: 80px;
}

.container{
    display: block;
    color: aliceblue;
    padding: 10%;
    border-radius: 5px;
    background-color: rgb(0, 145, 145);
}

.containerQuestoes {
    padding: 2%;
    display: block;
    color: aliceblue;
    border-radius: 5px;
}

#questoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.none {
    display: none;
}

.questao {
    margin: 0px;
    margin-right: 5%;
}

.number {
    width: 10%;
    min-width: 50px;
}

button {
    margin: auto;
    margin-top: 5%;
    display: block;
    padding: 2%;
    background-color: blue;
    border-radius: 4px;
    border: solid;
    cursor: pointer;
}

.btnResposta {
    display: inline-block;
}

button:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

button:active{
    background-color: blueviolet;
}

#cronometro{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #000000;
    color: aliceblue;
    position: fixed;
    text-align: center;
    width: 30%;
    top: 0;
    right: 20%;
}